.dashboard {
  width: 100%;
  /* margin-left: 10px; */
  padding: 5px 10px;
  border: 1px solid black;
  /* border-radius: 10px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  font-size: 0.9rem;
}

.round-title {
  margin: 0;
}

.bag {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bag-title {
  margin-bottom: 0px;
}

.capacity {
  margin: 3px;
}

.list-item {
  margin: 3px 0px;
}

.list-item-incomplete {
  color: red;
}

.list-item-complete {
  text-decoration: line-through;
  color: green;
}

.can-drop:hover {
  color: gray;
  cursor: pointer;
}