.exit-survey {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20%;
}

.exit-survey-title {
  font-size: 36px;
}

.exit-survey-blurb {
  font-size: 14px;
}

.blurb-bold {
  font-weight: 500;
  color: red;
}

.category-title {
  font-size: 24px;
  align-self: center;
  margin-top: 10px;
}

.text-area {
  width: 100%
}