.help {
  width: 20px;
  height: 20px;
  background-color: white;

  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 5px;
  right: 5px;
}

.help-popup {
  width: 700px;
  height: 800px;
  background-color: white;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  align-items: center;
  position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  z-index: 1000;
}

.help-popup-content {
  width: 100%;
  padding: 30px 100px;
  overflow-y: auto;
}

.help-popup-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	max-width: unset !important;
	z-index: 999;
	background: rgba(0, 0, 0, 0.6);
}

.close-popup {
  width: 35px;
  height: 35px;
  margin: 20px;
  padding: 5px;
  background-color: white;
  border: transparent;
  border-radius: 25px;
  position: fixed;
  top: 0px;
  right: 0px;
  font-weight: 300;
	font-size: 30px;
	vertical-align: sub;
  cursor: pointer;
}

.close-popup:hover {
  filter: brightness(85%);
}