.page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.game {
  width: 810px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-board {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.board {
  display: grid;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  width: 100px;
  height: 100px;
  border: solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.invis {
  background-color: lightgray;
}

.player {
  position: absolute;
}

.magazine {
  display: flex;
  position: absolute;
}

.corner {
  top: 2px;
  right: 2px;
}

.item {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin: 2px;
}

.live-item:hover {
  cursor: pointer;
  filter: brightness(60%);
}

.target {
  width: 70px;
  height: 70px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.target:hover {
  background-color: silver;
}

.cell-drop-target {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.highlight-possible {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  background-color: rgb(211,211,211, 0.5);
  position: absolute;
}

.highlight-hover {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  background-color: rgb(171, 255, 46, 0.5);
  position: absolute;
}

.dashboard {
  width: 100%;
  margin: 0px 10px;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.round-title {
  margin: 0;
}

.tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bag {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bag-title {
  margin-bottom: 0px;
}

.capacity {
  margin: 5px;
}

.list-item {
  margin: 5px 0px;
}

.list-item-complete {
  text-decoration: line-through;
}

.can-drop:hover {
  color: gray;
  cursor: pointer;
}

.controls {
  width: 100%;
  height: 150px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.control-button {
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px 20px;
  margin: 0px 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.control-button:hover {
  background-color: rgb(211, 211, 211, 0.5);
}

.control-button > h3 {
  margin: 0px;
}